
body {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  font-family: "Roboto", sans-serif;

  background-color: rgba(8, 8, 8, 0.89);
}

h3{
    text-align-last: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
}


.logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.buttons {
  background-color: #000000;
  padding: 7px 17px;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  
}

.main {
  width: 100%;
  margin-top: -100px;
  background-size: cover;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-position: center;
  min-height: 710px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://th.bing.com/th/id/R.c2c75747530c2ab4e2c9417243df6310?rik=RiMJfyIaAi4R6w&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f7%2fc%2f4%2f57418.jpg&ehk=%2fUU5HVLSs4%2fHcnLGrL5fPCsGar8iefSQWyB07rrbBUc%3d&risl=&pid=ImgRaw&r=0);
}

.area {
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

#btnsignUp{
  border-radius: 5px;
  height: 35px;
  position: absolute;
  right: 725px;
  
}



.area h1 {
  font-size: 60px;
  word-spacing: 15px;
  line-height: 75px;
}

.area h3 {
  margin-top: -30px;
  font-size: 27px;
  font-weight: normal;
}

.search {
  width: 150%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

.box {
  width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
}

